# Arquivo de configuração do Flake8.
# Flake8 é uma ferramenta para verificar a conformidade com o estilo de código Python (PEP8).

[flake8]
# Definir o tamanho máximo da linha como 95 caracteres, compatível com o Black.
max-line-length = 95

# Ignorar erros específicos:
# E501: Linha muito longa.
# W503: Quebra de linha antes de um operador binário (PEP8 sugere o contrário, mas é flexível).
ignore = 
    E501,   # Linha muito longa.
    W503    # Quebra de linha antes de um operador binário.
    C901,   # Função com muitos argumentos


# Diretórios e arquivos a serem ignorados pelo Flake8.
exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    new_venv,
    .new_venv,
    docs/source/conf.py,
    old,
    build,
    dist

# Especifica o nível de complexidade ciclomatica máximo antes de gerar um aviso.
# Isso ajuda a detectar funções ou métodos que se tornaram muito complexos.
max-complexity = 10

# Definir os arquivos ou módulos que devem ser analisados.
# Essa opção pode ser útil para restringir as verificações a partes específicas do projeto.
select = C,E,F,W
