# Arquivo de configuração do Flake8
# Flake8 é uma ferramenta para verificar a conformidade com o estilo de código Python (PEP8).

[flake8]
# Definir o comprimento máximo de linha como 95 caracteres, o que é compatível com o Black.
max-line-length = 95

# Ignorar erros específicos para evitar falsos positivos ou para se adequar às suas preferências de estilo:
# - E501: Linha muito longa (não necessário já que definimos o tamanho máximo).
# - W503: Quebra de linha antes de um operador binário.
# - C901: Função com complexidade ciclomatica alta (permite funções com mais argumentos).
ignore = E501, W503, C901

# Excluir diretórios e arquivos que não precisam ser analisados pelo Flake8.
exclude = 
    .git,
    __pycache__,
    venv,
    .venv,
    docs/source/conf.py,
    old,
    build,
    dist

# Definir a complexidade ciclomatica máxima. Valores maiores indicam que a função precisa ser simplificada.
max-complexity = 10

# Selecionar códigos específicos para análise, abordando erros e padrões de código.
# C: Erros de complexidade ciclomatica.
# E: Erros de sintaxe.
# F: Erros de importação.
# W: Avisos de estilo.
select = C,E,F,W
