[MASTER]
ignore=__pycache__,tests,.pytest_cache,.vscode,.git,venv
max-line-length=100
load-plugins = pylint_django, pylint_flask

# Diretórios adicionais
init-hook = 'import sys; sys.path.append("app")'

[MESSAGES CONTROL]
disable = C0114, C0116, W0511, R0903, W0702

[FORMAT]
max-line-length = 100
indent-string = '    '  # Define indentação como 4 espaços
expected-line-ending-format = LF

[REPORTS]
output-format = colorized
evaluation = 10.0 - ((float(5 * error + warning) / statement) * 10)

[BASIC]
good-names = i, j, k, ex, Run, _  # Nomes curtos permitidos
bad-names = foo, bar, baz, xxx, temp  # Nomes que não são recomendados
variable-rgx = [a-z_][a-z0-9_]{2,30}$

[DESIGN]
max-args = 5  # Número máximo de argumentos permitidos em uma função
max-parents = 7  # Limite de hierarquia de herança
