# requirements.in
astroid
dill
greenlet
iniconfig
isort
mccabe
mysql-connector-python
packaging
platformdirs
pluggy
pylint
PyMySQL
pytest-cov
pytest
python-dotenv
SQLAlchemy
SQLAlchemy-Utils
tomlkit
typing_extensions
