# requirements.in - Arquivo de dependências
# Ferramentas para análise estática de código

# Para análise estática de código
astroid
dill
flake8
greenlet
iniconfig
isort
mccabe
packaging
platformdirs
pluggy
pylint

# Para gerenciamento de variáveis de ambiente
python-dotenv

# Ferramentas para testes
pytest      # Framework de testes
pytest-cov  # Para cobertura de testes

# Outras dependências
# Ferramentas para gerenciamento de variáveis de ambiente
tomlkit
typing_extensions

# Framework web
fastapi

# ORM para banco de dados
SQLAlchemy

# Ferramentas de parsing HTML
beautifulsoup4
