# requirements.in - Arquivo de dependências
# Ferramentas para análise estática de código e linting
astroid                # Biblioteca para análise de código
flake8                 # Linter para verificação de estilo
isort                  # Para organizar automaticamente imports
mccabe                 # Verificador de complexidade de código
pylint                 # Linter para análise de código

# Ferramentas de tipagem e verificação de tipos
mypy                   # Ferramenta de verificação de tipos estática

# Gerenciamento de variáveis de ambiente
python-dotenv          # Gerenciamento de variáveis de ambiente

# Ferramentas para testes
pytest==7.2.1          # Framework de testes
pytest-cov             # Ferramenta para cobertura de testes
pytest_mock            # Biblioteca para simulação de testes

# Framework web
fastapi                # Framework web para APIs rápidas

# ORM para banco de dados
SQLAlchemy                    # ORM para banco de dados
SQLAlchemy-Utils              # Utilitários para SQLAlchemy

# Ferramentas de parsing HTML
beautifulsoup4         # Biblioteca para parsing HTML

# Formatação de código
black                  # Ferramenta para formatação automática de código

# Dependências auxiliares
dill                   # Serialização de objetos Python
greenlet               # Implementação de microthreads
iniconfig              # Manipulação de arquivos .ini
packaging              # Utilitários para manipulação de pacotes Python
platformdirs           # Obtenção de diretórios específicos da plataforma
pluggy                 # Sistema de plugins para Python
tomlkit                # Manipulação de arquivos TOML
typing_extensions      # Extensões para tipagem no Python

# Dependências de desenvolvimento
uvicorn                # Servidor de desenvolvimento web
pydantic               # Biblioteca para validação de dados
